b, strong {
  font-weight: bold;
}
i {
  font-style: italic;
}

td, th {
  padding: 4px;
}
table {
  max-width: 100%;
}
th {
  font-weight: bold;
}
td {
  border: 1px solid #eee;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.25em;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

#map {
  width: 100vw;
  height: 100vh;
}